<%- case status.name -%>
<%- when "approved" -%>
  <span class="label label-success">approved</span>
<%# XXX: deprecated %>
<%- when "rejected" -%>
  <span class="label label-important">rejected</span>
<%- else -%>
  <span class="label"><%= status.name %></span>
<%- end -%>

